
body {
	 background-color:#C0C0C0; 
}

#wrapper {
	 background-color:white; margin:0px auto; width:1280px;
}

#top {
	width:100%; background-color:#000000; height:140px;
}

#logo {
	padding:10px;  background-color:#000000; float:left;
}

#quote {
	color:#F8AA07; text-align:center; padding-top:10px; 
}

#language {
		 width:15%; float:right; 
}

#language li {
	display:inline; float: right; padding-right:5px;
}

#language img { 
 		width:25px; height:18px;	
}

#banner {
	 position: relative; 
  width:100%;
  margin: 0 auto;
  
}

#banner img {
	width:100%; height:500px;
}

#subbanner  {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 1260px; 
  padding: 10px; margin:0px; font-weight:bold; font-size:16px; 
   }

#subbanner p {
	font-size:18px;
}
#editable {
	border-bottom: 4px #ffbb55 solid; height:640px;
}

#content {
	 float:left; width:73%; background-color:#ffffff; margin:0px; 
}

#header h2 {
	text-align:center; font-style:italic; border-bottom:2px #FFBB55 solid;


}

#header p {
	padding:10px; 
}

#products img { width:227px; height:180px; 
	
}

#product1 {
	width:250px; height:400px; float:left; padding:15px; 
}

#product1 h2 {
	border-bottom:2px #FFBB55 solid; padding-bottom:22px;
	
}


#product2 {
	width:250px; height:400px; float:left; padding:10px;
}

#product2 h2 {
	border-bottom:2px #FFBB55 solid; padding-bottom:22px;
	
}

#product3 {
	width:250px; height:400px; float:left;  padding:15px;
}

#product3 h2 {
	border-bottom:2px #FFBB55 solid; padding-bottom:22px;
	
}

#social-media img {
	 width:20px; height:20px
}

#social-media ul li {
	display:inline;
}


#sidebar {
	float:right; width:25.2%; height:615px; margin:0px; background-color:#4B4B4B; padding:11px; color:#ffffff; 
}
#sidebar h3 {
	text-align:center;
}
#sidebar p {
	padding:10px;
}
#made-in {
	 text-align:center
}
#made-in img {
	width:63px; height:42px; text-align:center
}

#industries {
	margin-top:20px;
}

#industries h2 {
	 text-align:center; font-size: 38px;
    color: #1e1c8c;
    font-weight: 900;
    text-transform: none;
   }

#industries img {
	width:317px; height:211.3px; margin:0px; padding:0px; display:inline-block; white-space:nowrap; fill: #fff;
}    
#footer {
	  width:100%; background-color:#000000; text-align:center; padding:10px 0px; float:left;
	  	}

#footer p {
	color:#F8AA07; font-size:20px; text-align:center; display:inline; 
}

.mySlides {
	display:none; 
}

.container {
  position: relative;
  width:24.7%;
  display:inline-block;
  margin:0px; padding:0px;
  background-color:#1e1c8c;

  
  }
  
.image {
  opacity: 1;
  display:block;
  transition: .5s ease;
  backface-visibility:hidden;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.container:hover .image {
  opacity: 0.3;

}

.container:hover .middle {
  opacity: 1;

}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#footer1 {
	background-image:url('../images/footer.jpg');
	background-repeat:repeat;
    background-color: #7C5BFF;
    width:100%;
    height:300px;
    background-position: center;
    position: relative;
    margin:0px; padding:0px; 
}

#footer1 p {
	font-size:14px; color:#ffffff; 
}

#footer1 h2 {
	 color:#ffffff; text
}

#about {
	float:left; width:30%; height:260px; padding:40px 40px 0px 40px;  }

#footer-contact{
	width:70%; padding:40px 0px 0px 40px; 
}




















































































